:root {
    /* primary color changes header & footer color */
    --primary-color: rgba(4, 35, 92, 0.445);

    /* secondary color changes background color */
    --secondary-color: rgba(4, 35, 92, 0.445);

    --header-height: 70px;
    --content-gap: 40px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: var(--header-height);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles for all of the webpages. */
header {
    background-color: var(--primary-color);
    color: white;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font: bold 1rem Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* This is for the navigation links (home, make a graph, help) */
nav a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

/* hover colour for the nav links */
nav a:hover {
    background-color: #34495e;
}

/* this is the left side of the nav bar */
.nav-left {
    display: flex;
    gap: 1.5rem;
}

/* this is the right side of the nav bar */
.nav-right a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    gap: 1.5rem;
}

/* hover color for the "download csv" */
.nav-right a:hover {
    background-color: #34495e;
}


/* Footer Styles  */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%;
    margin-top: auto;
}

/* Shared Layout Components */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: var(--content-gap) 20px;
    width: 100%;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:last-child {
    margin-bottom: 0;
}






