:root {
    /* primary color changes header & footer color */
    --primary-color: rgba(4, 35, 92, 0.445);

    /* secondary color changes background color */
    --secondary-color: rgba(4, 35, 92, 0.445);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

/* Header Styles for all of the webpages. */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem 2rem;
    font: bold 1rem Arial, sans-serif;
    }
    
header h1 {
    font-size: 2rem;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
/* This is for the navigation links (home, make a graph, help) */
nav a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

/* hover colour for the nav links */
nav a:hover {
    background-color: #34495e;
}

nav {
    gap: 1rem;
}


/* this is the left side of the nav bar */
.nav-left {
    display: flex;
    gap: 1.5rem;
}

/* this is the right side of the nav bar */
.nav-right a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    gap: 1.5rem;
}

/* hover color for the "download csv" */
.nav-right a:hover {
    background-color: #34495e;
}


/* Footer Styles  */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* -------------------------------------------------------- */
.homepage-welcome {
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding: 25px;
    margin: auto;
    display: grid;
    justify-items: center;
}

.homepage-paragraph {
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: grid;
    justify-items: center;

}


/* Help Page Styles */

/* .HelpPage-Image {
    /* margin: 20px 0;
    float:left; */
 

.HelpPage-Image img {
    width: 500px;
    height: auto;
    display: block;

}




/* Make a Graph/ Prompt page */

.container {
    max-width: 900px;
    margin: 30px auto;
    padding-bottom: 80px
}


/*  card section (the white boxes used for the form areas) */

.card {
    background-color: white;
    padding: 20px 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* form group label and input stacked vertically */
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* dropdowns and the input fields */
.form-group input,
.form-group select {
    border: 1px solid #aaa;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

/*  form row
this section places multiple form groups side by side */
.form-row {
    display: flex;
    gap: 20px;
}
.form-row .form-group {
    flex: 1;
}

/* submit button */
.submit-btn {
    padding: 10px 20px;
    color: white;   
    border: none;
    background-color: #04235c;
    border-radius: 4px;
    cursor:pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #34495e;
}